.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  h1{
    text-align: center;
    font-size: 2rem;
    color:brown;

  }
  .card-dia {
    height: 120px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.03);
    }

    .overlay {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }
}
